.titre {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0 11em;
    border: solid;
    background-color: white;
    border-style: none;
    letter-spacing: 15px;
}

.body {
    text-align: left;
    background-color: white;
}

h2 {
    padding: 0;
    margin: 0;
}
